body {
    background: linear-gradient(120deg, #141e30, #243b55);
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.card {
    background: #1c1c1c;
    padding: 30px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
}

select {
    background: #fff;
    color: #000;
}

button {
    background: #e50914;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #f6121d;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    background: #2a2a2a;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
}
