body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    text-align: center;
}

.container {
    margin-top: 80px;
}

input, button {
    padding: 10px;
    margin: 8px;
    width: 250px;
}

button {
    background-color: #e50914;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}
